.spotlightWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spotlight {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  transition: opacity 0.5s ease;
}
